repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: destroyed-symlinks
  - repo: local
    hooks:
      - id: terraform-fmt
        name: terraform fmt
        entry: ./pre-commit-tf-fmt.sh
        language: system
        files: ^infra/
        pass_filenames: true
        types_or:
          - terraform
      - id: tflint
        name: Run tflint (terraform linter)
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: golang
        additional_dependencies:
          - github.com/terraform-linters/tflint@v0.52.0
        entry: ./pre-commit-tflint.sh
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: "3.2.386"
    hooks:
      - id: checkov
        verbose: true
        args:
          [
            -d,
            infra/,
            --external-checks-dir,
            infra/checkov/,
            --framework,
            terraform,
            --quiet,
            --skip-download,
          ]
