repos:
- repo: local
  hooks:
    - id: terraform-fmt
      name: ===> Making sure new terraform code is in a canonical format
      entry: pre-commit-tf-fmt.sh
      language: script
      files: \.tf$ 
