repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: &exclude_from_whitespace |
          (?x)^(
              infra/modules/cloudfront/html/assets/.*$|
              support/pipeline-visualiser/public/.*$
          )$
      - id: end-of-file-fixer
        exclude: *exclude_from_whitespace
      - id: check-added-large-files
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: destroyed-symlinks
  - repo: local
    hooks:
      - id: terraform-fmt
        name: terraform fmt
        entry: ./pre-commit-tf-fmt.sh
        language: system
        files: ^infra/
        pass_filenames: true
        types_or:
          - terraform

      - id: tflint
        name: tflint
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: system
        files: ^infra/
        pass_filenames: true
        entry: ./pre-commit-tflint.sh

      - id: checkov
        name: checkov
        entry: ./pre-commit-checkov.sh
        language: python
        additional_dependencies:
          - checkov==3.2.500
        require_serial: true
        types_or:
          - hcl
          - terraform
        pass_filenames: true

      - id: rubocop
        name: lint ruby
        require_serial: true
        types:
          - ruby
        language: system
        entry: make lint_ruby

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
