name: "Guardrail: Terraform version upgrade"

on:
  pull_request:
    branches: [main]
    paths:
      - ".terraform-version"
      - ".github/workflows/guardrail_tf_version_upgrade.yml"

jobs:
  leave_a_comment:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      pull-requests: write

    name: Leave a comment
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Leave a comment
        env:
          COMMENT_MARKER: "<!-- guardrail: tf version change -->"
          GH_TOKEN: ${{ github.token }}
        run: |
          cat <<EOF > "${{runner.temp}}/pr-comment.md"
          > [!WARNING]
          > You are changing the Terraform version.
          >
          > Before you merge this PR, you must apply the \`forms/pipelines\`
          > Terraform root from this branch in each of the \`forms\` environments.
          >
          > \`\`\`
          > make ENV forms/pipelines apply
          > \`\`\`

          ${COMMENT_MARKER}
          EOF

          # shellcheck disable=SC2016 # $ENV is not a shell variable
          old_comment_ids=$(gh api "repos/{owner}/{repo}/issues/${{github.event.pull_request.number}}/comments" --jq 'map(select((.user.login == "github-actions[bot]") and (.body | endswith($ENV.COMMENT_MARKER + "\n")))) | .[].id')
          for comment_id in $old_comment_ids; do
            gh api -X DELETE "repos/{owner}/{repo}/issues/comments/${comment_id}"
          done

          gh pr comment "${{github.event.pull_request.html_url}}" --body-file "${{runner.temp}}/pr-comment.md"
