name: "Infra-as-code-checks"
on:
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
env:
  TF_VERSION: "~>1.7.2"
jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Grab the last 50 commits. Later on we need to a git diff, and it's
          # very likely that two commits involved will be inside the last 50
          fetch-depth: 50
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@bd03e04863f52d169e18a2b190e8fa6b84938215 # v1.170.0
        with:
          bundler-cache: true
          working-directory: infra/
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{env.TF_VERSION}}
      - name: Lint Terraform
        id: checkov
        uses: bridgecrewio/checkov-action@a278b88ae3e0966b9fc062317c8b739aa91ed52d #v12.2657.0
        with:
          directory: infra/
          framework: terraform
          quiet: true #Only show failed checks
          external_checks_dirs: infra/checkov/
      - name: Lint shell scripts
        run: |
          # we don't have non-alpha-numeric file names
          # shellcheck disable=SC2038
          find . -type f \
            -name "*.sh" \
            -not \
              -path "*/.terraform/*" \
          | xargs -L1 shellcheck
      - name: Lint shell scripts in GitHub actions
        run: |
          # This is not the usual/best way to get the script directory.
          # We need to do this here because GitHub Actions writes the
          # content of script blocks like these to a temp directory,
          # which means the source code directory and the directory
          # in which the script reside are different
          script_dir="$(readlink -f "$(dirname .github)")"

          while IFS= read -r -d '' workflow
          do
            for path in $(yq '.jobs[] | .steps[] | select(.|has("run")) | .run | "."+(path | join("."))' "${script_dir}/${workflow}");
            do
              pushd "$(mktemp -d)" >/dev/null || exit
                  workflow_name="$(basename "${script_dir}/${workflow}")"
                  file="${workflow_name}__${path}"
                  touch "${file}"
                  yq "${path}" "${script_dir}/${workflow}" > "${file}"
                  shellcheck -s bash "${file}"
              popd >/dev/null || exit
            done
          done <  <(find ".github/workflows" -type f \( -name "*.yml" -or -name "*.yaml" \) -print0)
      - name: Lint shell scripts in CodeBuild build specs
        run: |
          # This is not the usual/best way to get the script directory.
          # We need to do this here because GitHub Actions writes the
          # content of script blocks like these to a temp directory,
          # which means the source code directory and the directory
          # in which the script reside are different
          script_dir="$(readlink -f "$(dirname .github)")"

          while IFS= read -r -d '' buildspec
          do
            pushd "$(mktemp -d)" >/dev/null || exit
              file="${buildspec//\//_}"
              touch "${file}"
              yq '.phases|to_entries|.[]|select(.value|has("commands"))|.value.commands|.[]' "${script_dir}/${buildspec}" > "${file}"
              shellcheck -s bash "${file}"
            popd >/dev/null || exit
          done <  <(find "." -type f \( -name "buildspec.yml" -or -name "buildspec.yaml" \) -print0)
      - name: Check Terraform style
        id: tf_fmt
        run: |
          terraform fmt -write=false -diff=true -list=true -recursive -check
      - name: Terraform init
        env:
          TF_PLUGIN_CACHE_DIR: "${{ runner.temp }}/terraform_cache"
        run: |
          set -e -u -o pipefail

          mkdir "$TF_PLUGIN_CACHE_DIR"

          while IFS= read -r -d '' deployment
          do
            echo "Initialising ${deployment}"
            terraform -chdir="${deployment}" init -backend=false || exit
          done <  <(find "infra/deployments" -type d -mindepth 2 -maxdepth 2 -print0)
      - name: Validate Terraform syntax
        env:
          BASE_REF: ${{github.event.pull_request.base.sha}}
          HEAD_REF: ${{github.event.pull_request.head.sha}}
        run: |
          set -e -u -o pipefail

          # The first run of "terraform validate" always takes much longer than
          # subsequent runs. To keep our pipeline times down, we want to only
          # validate deployments which will be affected by changes to one or more
          # source files. To do that, we:
          # 1. Find all the altered Terraform files
          # 2. Generate a list of every Terraform file used in each deployment
          # 3. Run "terraform validate" for each deployment which makes use of an
          #    altered file

          # 1. Find all of the altered Terraform files
          git diff "${BASE_REF}"..."${HEAD_REF}" --name-only -- "*.tf" "*.tf.json" | sort > modified-tf-files.txt

          # 2. Generate a list of every Terraform file used in each deployment
          while IFS= read -r -d '' deployment
          do
            # If the Terraform deployment doesn't use other modules this file won't exist,
            # and it will only be considering files in its immediate tree
            if [[ ! -f "${deployment}/.terraform/modules/modules.json" ]]; then
              # shellcheck disable=SC2038
              find "${deployment}" -type f \( -name "*.tf" -or -name "*.tf.json" \) -and \( -not -path "*.terraform*" \) \
              | xargs -I {} realpath --relative-to="$(pwd)" {} \
              | sort > "${deployment}/all-terraform-files.txt";

            # Otherwise find all of the modules used by the deployment, and then find
            # the paths of all the Terraform files in every module, relative to
            # the root directory
            else
              # shellcheck disable=SC2038
              jq -r '.Modules[]|.Dir' \
                "${deployment}/.terraform/modules/modules.json" \
              | xargs -I {} find "${deployment}/{}" -type f \( -name "*.tf" -or -name "*.tf.json" \) -and \( -not -path "*.terraform*" \) \
              | xargs -I {} realpath --relative-to="$(pwd)" {} \
              | sort > "${deployment}/all-terraform-files.txt";
            fi
          done <  <(find "infra/deployments/" -type d -mindepth 2 -maxdepth 2 -print0)

          # Run "terraform validate" for each deployment that uses one or more of the altered files
          while IFS= read -r -d '' deployment
          do
            matching_lines="$(comm -1 -2 modified-tf-files.txt "${deployment}/all-terraform-files.txt")"

            if [[ -n "$matching_lines" ]]; then
              echo "Validating ${deployment}"
              terraform -chdir="${deployment}" validate
            fi
          done <  <(find "infra/deployments/" -type d -mindepth 2 -maxdepth 2 -print0)
      - name: Run Terraform specs
        working-directory: infra/
        run: bundle exec rspec
