name: "Infra-as-code-checks"
on:
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
env:
  TF_VERSION: "~>1.6"
jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@54a18e26dbbb1eabc604f317ade9a5788dddef81 # v1.159.0
        with:
          bundler-cache: true
          working-directory: infra/

      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{env.TF_VERSION}}
      
      - name: Check Terraform style
        id: tf_fmt
        run: |
          terraform fmt -write=false -diff=true -list=true -recursive -check

      - name: Validate Terraform syntax
        run: |
          set -e -u -o pipefail

          while IFS= read -r -d '' deployment
          do
            pushd "${deployment}" >/dev/null || exit
              echo "Validating ${deployment}"
          
              terraform init -backend=false
              terraform validate
            popd >/dev/null || exit
          done <  <(find "infra/deployments/" -type d -mindepth 2 -maxdepth 2 -print0)

      - name: Lint Terraform
        id: checkov
        uses: bridgecrewio/checkov-action@d403349a9193cf87f58f18a0f09aab1e9e058bde #v12.2552.0 
        with:
          directory: infra/
          framework: terraform
          quiet: true #Only show failed checks
          external_checks_dirs: infra/checkov/
      
      - name: Lint shell scripts
        run: |
          # we don't have non-alpha-numeric file names
          # shellcheck disable=SC2038
          find . -type f \
            -name "*.sh" \
            -not \
              -path "*/.terraform/*" \
          | xargs -L1 shellcheck
      
      - name: Lint shell scripts in GitHub actions
        run: |
          # This is not the usual/best way to get the script directory.
          # We need to do this here because GitHub Actions writes the
          # content of script blocks like these to a temp directory,
          # which means the source code directory and the directory
          # in which the script reside are different
          script_dir="$(readlink -f "$(dirname .github)")"

          while IFS= read -r -d '' workflow
          do
            for path in $(yq '.jobs[] | .steps[] | select(.|has("run")) | .run | "."+(path | join("."))' "${script_dir}/${workflow}");
            do
              pushd "$(mktemp -d)" >/dev/null || exit
                  workflow_name="$(basename "${script_dir}/${workflow}")"
                  file="${workflow_name}__${path}"
                  touch "${file}"
                  yq "${path}" "${script_dir}/${workflow}" > "${file}"
                  shellcheck -s bash "${file}"
              popd >/dev/null || exit
            done
          done <  <(find ".github/workflows" -type f \( -name "*.yml" -or -name "*.yaml" \) -print0)
      
      - name: Run Terraform specs
        working-directory: infra/
        run: bundle exec rspec
