name: "Infra-as-code-checks"
on:
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
env:
  TF_VERSION: "~> 1.11.0"
  HCL2JSON_VERSION: "v0.6.1"
  GO_VERSION: "1.21"
jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Grab the last 75 commits. Later on we need to a git diff, and it's
          # very likely that two commits involved will be inside the last 75
          fetch-depth: 75
      - name: Determine Ruby version
        id: determine-ruby-version
        run: |
          echo "RUBY_VERSION=$(cat .ruby-version)" >> "$GITHUB_OUTPUT"
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@1a615958ad9d422dd932dc1d5823942ee002799f # v1.227.0
        with:
          bundler-cache: true
          ruby-version: ${{steps.determine-ruby-version.outputs.RUBY_VERSION}}
          working-directory: infra/
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{env.TF_VERSION}}
      ## We do NOT use Golang for development
      ## It is purely needed to install a tool in this pipeline
      - name: "Install Go ${{env.GO_VERSION}}"
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34
        with:
          go-version: "${{env.GO_VERSION}}"
      - name: "Install terraform-config-inspect"
        run: |
          go install "github.com/hashicorp/terraform-config-inspect@latest"
      - name: Install hcl2json
        run: |
          wget "https://github.com/tmccombs/hcl2json/releases/download/${HCL2JSON_VERSION}/hcl2json_linux_amd64"
          chmod +x hcl2json_linux_amd64
          sudo mv hcl2json_linux_amd64 /usr/local/bin/hcl2json
      - name: Run specs
        run: |
          make spec
      - uses: actions/cache@v4
        name: Cache tflint plugin dir
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.tflint.hcl') }}
      - uses: terraform-linters/setup-tflint@v4
        with:
          tflint_version: v0.52.0
      - name: Init tflint
        run: tflint --init
        env:
          # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
          GITHUB_TOKEN: ${{ github.token }}
      - name: Run tflint
        run: |
          tflint_deadline=$(date -d 2025-06-01 +%s)
          now=$(date +%s)
          info_only=true
          
          if [ "${now}" -ge "${tflint_deadline}" ]; then
            echo "The deadline for addressing tflint errors has passed. They have begun failing the tests"
            info_only=false
          fi
          
          make tflint TFLINT_INFO_ONLY=$info_only
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
      - name: Run Checkov against Terraform
        run: |
          pip install -r requirements.txt
          checkov -d infra/ --external-checks-dir infra/checkov/ --framework terraform --quiet
      - name: Lint shell scripts
        run: |
          # we don't have non-alpha-numeric file names
          # shellcheck disable=SC2038
          find . -type f \
            -name "*.sh" \
            -not \
              -path "*/.terraform/*" \
          | xargs -L1 shellcheck
      - name: Lint shell scripts in GitHub actions
        run: |
          # This is not the usual/best way to get the script directory.
          # We need to do this here because GitHub Actions writes the
          # content of script blocks like these to a temp directory,
          # which means the source code directory and the directory
          # in which the script reside are different
          script_dir="$(readlink -f "$(dirname .github)")"

          while IFS= read -r -d '' workflow
          do
            for path in $(yq '.jobs[] | .steps[] | select(.|has("run")) | .run | "."+(path | join("."))' "${script_dir}/${workflow}");
            do
              pushd "$(mktemp -d)" >/dev/null || exit
                  workflow_name="$(basename "${script_dir}/${workflow}")"
                  file="${workflow_name}__${path}"
                  touch "${file}"
                  yq "${path}" "${script_dir}/${workflow}" > "${file}"
                  shellcheck -s bash "${file}"
              popd >/dev/null || exit
            done
          done <  <(find ".github/workflows" -type f \( -name "*.yml" -or -name "*.yaml" \) -print0)
      - name: Lint shell scripts in CodeBuild build specs
        run: |
          ./support/shellcheck_codebuild.sh
      - name: Check Terraform style
        id: tf_fmt
        run: |
          terraform fmt -write=false -diff=true -list=true -recursive -check
      - name: Validate Terraform syntax
        env:
          GIT_FROM: ${{github.event.pull_request.base.sha}}
          GIT_TO: ${{github.event.pull_request.head.sha}}
          TF_PLUGIN_CACHE_DIR: "${{ runner.temp }}/terraform_cache"
        run: |
          # shellcheck disable=SC2199
          # shellcheck disable=SC2076
          set -e -u -o pipefail
          mkdir "$TF_PLUGIN_CACHE_DIR"
          if [[ $(git diff "${GIT_FROM}"..."${GIT_TO}" --name-only -- "*.tf" "*.tf.json" | wc -l) -eq 0 ]]; then
            echo "No Terraform files have changed. Stopping";
            exit 0
          fi
          git diff "${GIT_FROM}"..."${GIT_TO}" --name-only -- "*.tf" "*.tf.json" \
          | xargs dirname \
          | sort \
          | uniq \
          > modified-tf-dirs.txt
          
          all_roots=$(find infra/deployments -type d \
            -mindepth 1 -maxdepth 2 \
            -not -path "*/tfvars" \
            -not -path "infra/deployments/forms" \
            -not -path "infra/deployments/deploy" \
            -not -path "infra/deployments/integration" 
          )
          
          for start in ${all_roots}; do
            echo "Inspecting ${start}"
            stack=("${start}")
            visited=()
          
            while [[ "${#stack[@]}" -gt 0 ]]; do
          
              path="${stack[0]}"
              stack=("${stack[@]:1}") # Shift the front element off
          
              if [[ "${visited[@]}" =~ "${path}" ]]; then
                # Skip because it's already been visited
                continue
              fi
          
              visited+=("${path}")
          
              declare -a new_paths
              readarray -t new_paths < <(terraform-config-inspect --json "${path}" \
                | jq -r '.module_calls | to_entries | .[] | .value.source' \
                | sort \
                | uniq \
                | xargs -I{} readlink -f "${path}/{}" \
                | xargs -I{} realpath --relative-to "$(pwd)" "{}" \
                | sort
              )
          
              if [[ "${#new_paths[@]}" -gt 0 ]]; then
                stack+=( "${stack[@]}" "${new_paths[@]}" )
              fi
            done
          
            printf '%s\n' "${visited[@]}" | sort | uniq > "${start}/directories.txt"
          
            matching_lines="$(comm -1 -2 modified-tf-dirs.txt "${start}/directories.txt")"
          
            if [[ -n "$matching_lines" ]]; then
              echo "Requires validation"
              terraform -chdir="${start}" init -backend=false || exit
              terraform -chdir="${start}" validate
            else
              echo "Does not require validation"
            fi
          done;    
