# Infracost runs on pull requests (PR) and posts PR comments.
# If you use Infracost Cloud, Infracost also runs on main/master branch pushes so the dashboard is updated.
# The GitHub Action docs (https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows) describe other trigger options.
name: "Infracost"
on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - "infra/**"
      - "infracost.yml"
      - ".github/workflows/infracost.yml"

env:
  INFRACOST_AWS_OVERRIDE_REGION: "eu-west-2" # Set the default AWS region for Infracost

jobs:
  # This stage runs the Infracost CLI and posts PR comments.
  # It also updates PR comments when the PR is updated (synchronize event).
  infracost-pull-request-checks:
    name: Infracost Pull Request Checks
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    permissions:
      contents: read
      pull-requests: write # Required to post comments
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v5.0.0
        with:
          fetch-depth: 1
      - name: Initialise mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
        with:
          install: false
      - name: Fetch infracost version from mise
        id: infracost-version
        run: |
          infracost_version=$(mise current infracost)
          echo "infracost-version=$infracost_version" >> "$GITHUB_OUTPUT"
      - name: Setup Infracost
        uses: infracost/actions/setup@e9d6e6cd65e168e76b0de50ff9957d2fe8bb1832 # v3.0.1
        with:
          api-key: ${{ secrets.INFRACOST_API_KEY }}
          currency: GBP
          version: ${{ steps.infracost-version.outputs.infracost-version }}

      # Checkout the base branch of the pull request (e.g. main/master).
      - name: Checkout base branch
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v5.0.0
        with:
          ref: "${{ github.event.pull_request.base.ref }}"

      # Generate Infracost JSON file as the baseline.
      - name: Generate Infracost cost estimate baseline
        run: |
          infracost breakdown --config-file "infracost.yml" \
                              --format=json \
                              --out-file=/tmp/infracost-base.json \
                              --usage-file=infracost-usage.yml

      # Checkout the current PR branch so we can create a diff.
      - name: Checkout PR branch
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v5.0.0
        with:
          fetch-depth: 1

      # Generate an Infracost diff and save it to a JSON file.
      - name: Generate Infracost diff
        run: |
          infracost diff --config-file "infracost.yml" \
                          --format=json \
                          --compare-to=/tmp/infracost-base.json \
                          --out-file=/tmp/infracost.json \
                          --usage-file=infracost-usage.yml

      # Posts a comment to the PR using the 'update' behavior.
      # This creates a single comment and updates it. The "quietest" option.
      # The other valid behaviors are:
      #   delete-and-new - Delete previous comments and create a new one.
      #   hide-and-new - Minimize previous comments and create a new one.
      #   new - Create a new cost estimate comment on every push.
      # See https://www.infracost.io/docs/features/cli_commands/#comment-on-pull-requests for other options.
      - name: Post Infracost comment
        run: |
          infracost comment github --path=/tmp/infracost.json \
                                   --repo="${GITHUB_REPOSITORY}" \
                                   --github-token=${{ github.token }} \
                                   --pull-request=${{ github.event.pull_request.number }} \
                                   --behavior=update

      # Upload the Infracost JSON file as a workflow artifact.
      - name: Upload Infracost JSON artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: infracost-diff
          path: /tmp/infracost.json
