name: "Infra-as-code-checks"
on:
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
env:
  TF_VERSION: "~> 1.8.5"
  HCL2JSON_VERSION: "v0.6.1"
  GO_VERSION: "1.21"
jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Grab the last 75 commits. Later on we need to a git diff, and it's
          # very likely that two commits involved will be inside the last 75
          fetch-depth: 75
      - name: Determine Ruby version
        id: determine-ruby-version
        run: |
          echo "RUBY_VERSION=$(cat .ruby-version)" >> "$GITHUB_OUTPUT"
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@ff740bc00a01b3a50fffc55a1071b1060eeae9dc # v1.180.0
        with:
          bundler-cache: true
          ruby-version: ${{steps.determine-ruby-version.outputs.RUBY_VERSION}}
          working-directory: infra/
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{env.TF_VERSION}}
      ## We do NOT use Golang for development
      ## It is purely needed to install a tool in this pipeline
      - name: "Install Go ${{env.GO_VERSION}}"
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7
        with:
          go-version: "${{env.GO_VERSION}}"
      - name: "Install terraform-config-inspect"
        run: |
          go install "github.com/hashicorp/terraform-config-inspect@latest"
      - name: Install hcl2json
        run: |
          wget "https://github.com/tmccombs/hcl2json/releases/download/${HCL2JSON_VERSION}/hcl2json_linux_amd64"
          chmod +x hcl2json_linux_amd64
          sudo mv hcl2json_linux_amd64 /usr/local/bin/hcl2json
      - name: Run specs
        run: |
          make spec
      - name: Lint Terraform
        id: checkov
        uses: bridgecrewio/checkov-action@5ec4b94cd3e2b97551965608a7413098ee737108 #v12.2780.0
        with:
          directory: infra/
          framework: terraform
          quiet: true #Only show failed checks
          external_checks_dirs: infra/checkov/
      - name: Lint shell scripts
        run: |
          # we don't have non-alpha-numeric file names
          # shellcheck disable=SC2038
          find . -type f \
            -name "*.sh" \
            -not \
              -path "*/.terraform/*" \
          | xargs -L1 shellcheck
      - name: Lint shell scripts in GitHub actions
        run: |
          # This is not the usual/best way to get the script directory.
          # We need to do this here because GitHub Actions writes the
          # content of script blocks like these to a temp directory,
          # which means the source code directory and the directory
          # in which the script reside are different
          script_dir="$(readlink -f "$(dirname .github)")"

          while IFS= read -r -d '' workflow
          do
            for path in $(yq '.jobs[] | .steps[] | select(.|has("run")) | .run | "."+(path | join("."))' "${script_dir}/${workflow}");
            do
              pushd "$(mktemp -d)" >/dev/null || exit
                  workflow_name="$(basename "${script_dir}/${workflow}")"
                  file="${workflow_name}__${path}"
                  touch "${file}"
                  yq "${path}" "${script_dir}/${workflow}" > "${file}"
                  shellcheck -s bash "${file}"
              popd >/dev/null || exit
            done
          done <  <(find ".github/workflows" -type f \( -name "*.yml" -or -name "*.yaml" \) -print0)
      - name: Lint shell scripts in CodeBuild build specs
        run: |
          # This is not the usual/best way to get the script directory.
          # We need to do this here because GitHub Actions writes the
          # content of script blocks like these to a temp directory,
          # which means the source code directory and the directory
          # in which the script reside are different
          script_dir="$(readlink -f "$(dirname .github)")"

          while IFS= read -r -d '' buildspec
          do
            pushd "$(mktemp -d)" >/dev/null || exit
              file="${buildspec//\//_}"
              touch "${file}"
              yq '.phases|to_entries|.[]|select(.value|has("commands"))|.value.commands|.[]' "${script_dir}/${buildspec}" > "${file}"
              shellcheck -s bash "${file}"
            popd >/dev/null || exit
          done <  <(find "." -type f \( -name "buildspec.yml" -or -name "buildspec.yaml" \) -print0)
      - name: Check Terraform style
        id: tf_fmt
        run: |
          terraform fmt -write=false -diff=true -list=true -recursive -check
      - name: Validate Terraform syntax
        env:
          GIT_FROM: ${{github.event.pull_request.base.sha}}
          GIT_TO: ${{github.event.pull_request.head.sha}}
          TF_PLUGIN_CACHE_DIR: "${{ runner.temp }}/terraform_cache"
        run: "# shellcheck disable=SC2199\n# shellcheck disable=SC2076\nset -e -u -o pipefail\nmkdir \"$TF_PLUGIN_CACHE_DIR\"\n\nif [[ $(git diff \"${GIT_FROM}\"...\"${GIT_TO}\" --name-only -- \"*.tf\" \"*.tf.json\" | wc -l) -eq 0 ]]; then\n  echo \"No Terraform files have changed. Stopping\";\n  exit 0\nfi\n\ngit diff \"${GIT_FROM}\"...\"${GIT_TO}\" --name-only -- \"*.tf\" \"*.tf.json\" \\\n| xargs dirname \\\n| sort \\\n| uniq \\\n> modified-tf-dirs.txt\n\nall_roots=$(find infra/deployments -type d \\\n  -mindepth 1 -maxdepth 2 \\\n  -not -path \"*/tfvars\" \\\n  -not -path \"infra/deployments/forms\" \\\n  -not -path \"infra/deployments/deploy\"\n)\n\nfor start in ${all_roots}; do\n  echo \"Inspecting ${start}\"\n  stack=(\"${start}\")\n  visited=()\n\n  while [[ \"${#stack[@]}\" -gt 0 ]]; do\n    \n    path=\"${stack[0]}\"\n    stack=(\"${stack[@]:1}\") # Shift the front element off\n    \n\n    if [[ \"${visited[@]}\" =~ \"${path}\" ]]; then\n      # Skip because it's already been visited\n      continue\n    fi\n    \n    visited+=(\"${path}\")\n    \n    declare -a new_paths\n    readarray -t new_paths < <(terraform-config-inspect --json \"${path}\" \\\n      | jq -r '.module_calls | to_entries | .[] | .value.source' \\\n      | sort \\\n      | uniq \\\n      | xargs -I{} readlink -f \"${path}/{}\" \\\n      | xargs -I{} realpath --relative-to \"$(pwd)\" \"{}\" \\\n      | sort\n    )\n    \n    if [[ \"${#new_paths[@]}\" -gt 0 ]]; then\n      stack+=( \"${stack[@]}\" \"${new_paths[@]}\" )\n    fi\n  done\n\n  printf '%s\\n' \"${visited[@]}\" | sort | uniq > \"${start}/directories.txt\"\n\n  matching_lines=\"$(comm -1 -2 modified-tf-dirs.txt \"${start}/directories.txt\")\"\n\n  if [[ -n \"$matching_lines\" ]]; then\n    echo \"Requires validation\"\n    terraform -chdir=\"${start}\" init -backend=false || exit\n    terraform -chdir=\"${start}\" validate\n  else\n    echo \"Does not require validation\"\n  fi\ndone;          \n"
