name: "Infra-as-code-checks"
on:
  pull_request:
    branches: [ main ]
  merge_group:
    types: [checks_requested]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check Terraform style
        id: tf_fmt
        run: |
          terraform fmt -write=false -diff=true -list=true -recursive -check

      - name: Lint Terraform
        id: checkov
        uses: bridgecrewio/checkov-action@99bb2caf247dfd9f03cf984373bc6043d4e32ebf #v12.1347.0
        with:
          directory: infra/
          framework: terraform
          quiet: true #Only show failed checks

      - name: Lint shell scripts
        run: |
          # we don't have non-alpha-numeric file names
          # shellcheck disable=SC2038
          find . -type f \
            -name "*.sh" \
            -not \
              -path "*/.terraform/*" \
          | xargs -L1 shellcheck

      - name: Lint shell scripts in GitHub actions
        run: |
          while IFS= read -r -d '' workflow
          do
            yq '.jobs[] | .steps[] | select(.|has("run")) | .run ' "${workflow}" | shellcheck -s bash -;
          done <   <(find ".github/workflows" -type f \( -name "*.yml" -or -name "*.yaml" \) -print0)


