name: "Build image"
on:
  workflow_call:

jobs:
  build-image:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
