name: "Ruby CI"
on:
  pull_request:
    branches: [main]
    paths:
      - "**.rb"
      - "**Gemfile"
      - "**Rakefile"
  merge_group:
    types: [checks_requested]
jobs:
  ruby-ci:
    name: "Ruby"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install hcl2json
        run: |
          wget "https://github.com/tmccombs/hcl2json/releases/download/v0.6.1/hcl2json_linux_amd64"
          chmod +x hcl2json_linux_amd64
          sudo mv hcl2json_linux_amd64 /usr/local/bin/hcl2json        

      - name: Determine Ruby version
        id: determine-ruby-version
        run: |
          echo "RUBY_VERSION=$(cat .ruby-version)" >> "$GITHUB_OUTPUT"

      ##
      # We have multiple distinct Ruby code bases
      # and GitHub Actions does not have a good way to
      # repeat one step with a different parameter each
      # time. So instead we enumerate them all.
      ##
      - name: Install Ruby and gems at root
        uses: ruby/setup-ruby@ca041f971d66735f3e5ff1e21cc13e2d51e7e535 # v1.233.0
        with:
          bundler-cache: true
          ruby-version: ${{steps.determine-ruby-version.outputs.RUBY_VERSION}}

      - name: "Install Ruby and gems in infra/"
        uses: ruby/setup-ruby@ca041f971d66735f3e5ff1e21cc13e2d51e7e535 # v1.233.0
        with:
          bundler-cache: true
          ruby-version: ${{steps.determine-ruby-version.outputs.RUBY_VERSION}}
          working-directory: "infra/"

      - name: Install Ruby and gems in pipeline visualiser
        uses: ruby/setup-ruby@ca041f971d66735f3e5ff1e21cc13e2d51e7e535 # v1.233.0
        with:
          bundler-cache: true
          ruby-version: ${{steps.determine-ruby-version.outputs.RUBY_VERSION}}
          working-directory: "support/pipeline-visualiser"

      - name: Install Ruby and gems in pipeline invoker
        uses: ruby/setup-ruby@ca041f971d66735f3e5ff1e21cc13e2d51e7e535 # v1.233.0
        with:
          bundler-cache: true
          ruby-version: ${{steps.determine-ruby-version.outputs.RUBY_VERSION}}
          working-directory: "infra/deployments/forms/pipelines/pipeline-invoker"

      - name: Run rubocop
        run: make lint_ruby

      - name: Run specs
        run: make spec
