name: "Shell script CI"
on:
  pull_request:
  merge_group:
    types: [checks_requested]
jobs:
  shell-ci:
    runs-on: ubuntu-24.04-arm
    name: Shell
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Lint shell scripts
        run: |
          # we don't have non-alpha-numeric file names
          # shellcheck disable=SC2038
          find . -type f \
            -name "*.sh" \
            -not \
              -path "*/.terraform/*" \
          | xargs -L1 shellcheck

      - name: Lint shell scripts in CodeBuild build specs
        run: |
          ./support/shellcheck_codebuild.sh
