name: "Terraform CI"
on:
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
env:
  GO_VERSION: "1.21"
jobs:
  terraform-ci:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0
        with:
          # Grab the last 75 commits. Later on we need to a git diff, and it's
          # very likely that two commits involved will be inside the last 75
          fetch-depth: 75

      - name: Initialise mise
        uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3.4.0
        with:
          github_token: ${{ secrets.MISE_PAT }} # As this is a private repo, we can get API rate limit issues. Use a PAT to avoid this. (The token needs no special permissions.)
          install_args: checkov terraform go:github.com/hashicorp/terraform-config-inspect tflint

      - name: Check Terraform style
        id: tf_fmt
        run: |
          terraform fmt -write=false -diff=true -list=true -recursive -check

      - name: Validate Terraform syntax
        env:
          GIT_FROM: ${{github.event.pull_request.base.sha}}
          GIT_TO: ${{github.event.pull_request.head.sha}}
          TF_PLUGIN_CACHE_DIR: "${{ runner.temp }}/terraform_cache"
        run: |
          set -e -u -o pipefail
          mkdir "$TF_PLUGIN_CACHE_DIR"
          if [[ $(git diff "${GIT_FROM}"..."${GIT_TO}" --name-only -- "*.tf" "*.tf.json" | wc -l) -eq 0 ]]; then
            echo "No Terraform files have changed. Stopping";
            exit 0
          fi
          git diff "${GIT_FROM}"..."${GIT_TO}" --name-only -- "*.tf" "*.tf.json" \
          | xargs dirname \
          | sort \
          | uniq \
          > modified-tf-dirs.txt

          all_roots=$(find infra/deployments -type d \
            -mindepth 1 -maxdepth 2 \
            -not -path "*/tfvars" \
            -not -path "infra/deployments/forms" \
            -not -path "infra/deployments/deploy" \
            -not -path "infra/deployments/integration"
          )

          for start in ${all_roots}; do
            echo "Inspecting ${start}"
            stack=("${start}")
            visited=()

            while [[ "${#stack[@]}" -gt 0 ]]; do

              path="${stack[0]}"
              stack=("${stack[@]:1}") # Shift the front element off

              # shellcheck disable=SC2199
              # shellcheck disable=SC2076
              if [[ "${visited[@]}" =~ "${path}" ]]; then
                # Skip because it's already been visited
                continue
              fi

              visited+=("${path}")

              declare -a new_paths
              readarray -t new_paths < <(terraform-config-inspect --json "${path}" \
                | jq -r '.module_calls | to_entries | .[] | .value.source' \
                | sort \
                | uniq \
                | xargs -I{} readlink -f "${path}/{}" \
                | xargs -I{} realpath --relative-to "$(pwd)" "{}" \
                | sort
              )

              if [[ "${#new_paths[@]}" -gt 0 ]]; then
                stack+=( "${stack[@]}" "${new_paths[@]}" )
              fi
            done

            printf '%s\n' "${visited[@]}" | sort | uniq > "${start}/directories.txt"

            matching_lines="$(comm -1 -2 modified-tf-dirs.txt "${start}/directories.txt")"

            if [[ -n "$matching_lines" ]]; then
              echo "Requires validation"
              terraform -chdir="${start}" init -backend=false || exit
              terraform -chdir="${start}" validate
            else
              echo "Does not require validation"
            fi
          done;

      - uses: actions/cache@v4
        name: Cache tflint plugin dir
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.tflint.hcl') }}

      - name: Init tflint
        run: tflint --init
        env:
          # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
          GITHUB_TOKEN: ${{ github.token }}

      - name: Run tflint
        run: |
          make tflint

      - name: Run Checkov against Terraform
        run: |
          checkov -d infra/ --external-checks-dir infra/checkov/ --framework terraform --quiet --skip-download
